.hero
  margin-top: 100px
  &__content
    padding: 56px 40px
    background-repeat: no-repeat
    background-position: bottom right
    .btn
      margin-top: 42px

  .title_h1
    font-weight: 700
    font-size: 52px
    line-height: 110%
    color: var(--black)

.numbers_about
  margin-top: 100px
  .title_h2
    margin-bottom: 60px

.advantages
  margin-top: 100px
  &_about
    &__list
      display: flex
      gap: 20px
    &__item
      flex: 1
      h3
        font-weight: 600
        font-size: 32px
        line-height: 130%
        color: var(--red-brand)
      p
        margin-top: 16px
        font-family: "Roboto", sans-serif
        font-weight: 400
        font-size: 18px
        line-height: 140%
        color: var(--gray-dark-text)

.profit
  margin-top: 100px
  &__wrapper
    padding: 16px 30px 24px 42px
    display: flex
    align-items: center
    border: 1px solid var(--gray-5)
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    border-radius: 20px
  &__text
    p
      margin-top: 20px
      font-weight: 600
      font-size: 22px
      line-height: 140%
      color: var(--black)
  &__graph
    position: relative
    &__popup
      padding: 14px
      position: absolute
      top: 14%
      left: 39%
      max-width: 37%
      display: flex
      align-items: center
      -webkit-border-radius: 20px
      -moz-border-radius: 20px
      border-radius: 20px
      font-weight: 600
      font-size: 22px
      line-height: 140%
      color: var(--black)
      background-color: var(--gray-light)
      .theme-color
        margin-right: 8px
        font-size: 32px
        line-height: 130%
      span
        white-space: nowrap
    img
      max-width: 100%
  &__symbols
    margin-top: 40px
    display: flex
    &__item
      margin-right: 32px
      font-weight: 600
      font-size: 18px
      line-height: 140%
      position: relative
      display: flex
      align-items: center
      &::before
        margin-right: 12px
        content: ''
        display: block
        width: 12px
        height: 12px
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        border-radius: 50%
        background-color: var(--black)
      &:first-child::before
        background-color: var(--red-brand)

.services
  margin-top: 100px
  .container
    display: flex
    align-items: center
    gap: 80px
  &__info
    flex: 3
    h2
      padding-right: 80px
      font-weight: 600
      font-size: 32px
      line-height: 130%
      color: var(--black)
    p
      margin-top: 24px
      padding-right: 190px
      font-weight: 400
      font-size: 18px
      line-height: 140%
      color: var(--gray-dark-text)
    .btn
      margin-top: 30px
  &__image-wrapper
    flex: 2
    overflow: hidden
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    border-radius: 20px
.benefits
  margin-top: 100px
  &__wrapper
    padding: 50px 42px
    .section-description
      margin-top: 24px
  &__list
    margin-top: 60px
    display: grid
    gap: 30px
    grid-template-columns: 1fr 1fr
    //flex-flow: wrap
  &__item
    padding: 24px
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    border-radius: 20px
    background: var(--wh)
    h3
      margin-top: 14px
      font-weight: 600
      font-size: 22px
      line-height: 140%
      color: var(--black)
    p
      margin-top: 8px
      font-weight: 400
      font-size: 16px
      line-height: 140%
      color: var(--gray-dark-text)
    &__img-wrapper
      height: 126px
      overflow: hidden
      img
        max-height: 100%

.why
  margin-top: 100px
  &__list
    margin-top: 60px
    display: flex
    gap: 28px
  &__item
    padding: 80px 24px 24px 24px
    position: relative
    flex: 1
    max-width: 360px
    border: 1px solid var(--gray-5)
    border-radius: 20px
    font-weight: 600
    font-size: 16px
    line-height: 140%
    color: var(--black)
    &_1
      background: url("../icons/podium-victory-leader.svg") top 24px left 24px no-repeat
    &_2
      background: url("../icons/employees.svg") top 24px left 24px no-repeat
    &_3
      background: url("../icons/dashboard-monitor.svg") top 24px left 24px no-repeat
    &_4
      background: url("../icons/visit1.svg") top 24px left 24px no-repeat
    &_5
      background: url("../icons/features-alt1.svg") top 24px left 24px no-repeat

  .section-description
    margin-top: 14px

.partners
  margin: 100px 0
  &__wrapper
    padding: 50px 40px
  &__header
    margin-bottom: 60px
    display: flex
    align-items: center
    justify-content: space-between

    p
      font-weight: 600
      font-size: 18px
      line-height: 140%
  &__slider
    .swiper-pagination_partners
      margin-top: 40px
      text-align: left
  &__item
    padding: 24px
    position: relative
    display: flex
    align-items: center
    justify-content: center
    min-height: 140px
    border-radius: 20px
    background-color: white
    overflow: hidden
    &:not(:last-child)
      margin-bottom: 30px
    &__img-wrapper
      transition: transform 0.3s ease-in-out
      img
        max-height: 100%
        max-width: 100%
    &__link
      color: var(--red-brand)
      text-decoration: underline
      &-wrapper
        position: absolute
        bottom: 0
        transform: translateY(50px)
        transition: transform 0.3s ease-in-out
        font-family: "Roboto", sans-serif
        font-weight: 400
        font-size: 15px
        line-height: 140%
        color: var(--gray-3)
    &:hover
      .partners__item__img-wrapper
        transform: translateY(-20px)
      .partners__item__link-wrapper
        transform: translateY(-16px)

@media only screen and (max-width: 1280px)
  .services__info
    p, h2
      padding-right: unset
  .profit__wrapper
    flex-flow: column
  .why__list
    flex-flow: wrap
    justify-content: center

@media only screen and (max-width: 1024px)
  .hero .title_h1
    font-size: 40px
  .advantages_about
    &__list
      flex-flow: wrap
      justify-content: center
    &__item
      flex: unset
      width: 48%
  .profit__graph__popup
    font-size: 18px
    .theme-color
      font-size: 24px

@media only screen and (max-width: 768px)
  .hero__content
    background-size: 50%
  .services
    &__info
      text-align: center
    .container
      flex-flow: column
  .benefits__list
    grid-template-columns: 1fr
  .profit__graph__popup
    img
      display: none
  .partners__header
    flex-flow: column
    gap: 32px

@media only screen and (max-width: 640px)
  .advantages_about
    &__item
      width: 100%
      text-align: center
      max-width: 320px
  .profit
    &__wrapper
      padding: 16px
    &__text p
      font-size: 18px
    &__symbols__item
      font-size: 14px
  .benefits__wrapper
    padding: 24px 20px

@media only screen and (max-width: 480px)
  .hero
    &__content
      padding: 24px
    .title_h1
      font-size: 32px
  .partners__wrapper
    padding: 20px
