.hero
  margin-top: 100px
  &__content
    padding: 56px 40px
    background-repeat: no-repeat
    background-position: bottom right
    .btn
      margin-top: 42px

  .title_h1
    font-weight: 700
    font-size: 52px
    line-height: 110%
    color: var(--black)

.numbers_about
  margin-top: 100px
  .title_h2
    margin-bottom: 60px

.advantages
  margin-top: 100px
  &_about
    &__list
      display: flex
      gap: 20px
    &__item
      flex: 1
      h3
        font-weight: 600
        font-size: 32px
        line-height: 130%
        color: var(--red-brand)
      p
        margin-top: 16px
        font-family: "Roboto", sans-serif
        font-weight: 400
        font-size: 18px
        line-height: 140%
        color: var(--gray-dark-text)

.profit
  margin-top: 100px
  &__wrapper
    padding: 16px 30px 24px 42px
    display: flex
    align-items: center
    border: 1px solid var(--gray-5)
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    border-radius: 20px
  &__text
    p
      margin-top: 20px
      font-weight: 600
      font-size: 22px
      line-height: 140%
      color: var(--black)
  &__graph
    position: relative
    &__popup
      padding: 14px
      position: absolute
      top: 14%
      left: 39%
      display: flex
      align-items: center
      -webkit-border-radius: 20px
      -moz-border-radius: 20px
      border-radius: 20px
      font-weight: 600
      font-size: 22px
      line-height: 140%
      color: var(--black)
      background-color: var(--gray-light)
      .theme-color
        margin-right: 8px
        font-size: 32px
        line-height: 130%
  &__symbols
    margin-top: 40px
    display: flex
    &__item
      margin-right: 32px
      font-weight: 600
      font-size: 18px
      line-height: 140%
      position: relative
      display: flex
      align-items: center
      &::before
        margin-right: 12px
        content: ''
        display: block
        width: 12px
        height: 12px
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        border-radius: 50%
        background-color: var(--black)
      &:first-child::before
        background-color: var(--red-brand)

.services
  margin-top: 100px
  .container
    display: flex
    align-items: center
    gap: 80px
  &__info
    flex: 3
    h2
      padding-right: 80px
      font-weight: 600
      font-size: 32px
      line-height: 130%
      color: var(--black)
    p
      margin-top: 24px
      padding-right: 190px
      font-weight: 400
      font-size: 18px
      line-height: 140%
      color: var(--gray-dark-text)
    .btn
      margin-top: 30px
  &__image-wrapper
    flex: 2
    overflow: hidden
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    border-radius: 20px
.benefits
  margin-top: 100px
  &__wrapper
    padding: 50px 42px
    .section-description
      margin-top: 24px
  &__list
    margin-top: 60px
    display: grid
    gap: 30px
    grid-template-columns: 1fr 1fr
    //flex-flow: wrap
  &__item
    padding: 24px
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    border-radius: 20px
    background: var(--wh)
    h3
      margin-top: 14px
      font-weight: 600
      font-size: 22px
      line-height: 140%
      color: var(--black)
    p
      margin-top: 8px
      font-weight: 400
      font-size: 16px
      line-height: 140%
      color: var(--gray-dark-text)
    &__img-wrapper
      height: 126px
      overflow: hidden
      img
        max-height: 100%

.callback
  &-block
    margin-top: 100px
    .swiper-pagination
      position: static
      width: auto
      &-bullet
        height: 3px
        width: 50px
        background-color: var(--gray-5)
        -webkit-border-radius: 1.5px
        -moz-border-radius: 1.5px
        border-radius: 1.5px
        opacity: 1
        transition: width 0.3s, background-color 0.3s
        &.swiper-pagination-bullet-active
          width: 80px
          background-color: var(--red-brand)

    .btn-wrapper
      margin-top: 30px
      display: flex
      justify-content: space-between
      align-items: center
  &__slide
    padding: 40px
    display: flex
    align-items: center
    gap: 48px
    &__info
      h2
        margin-bottom: 20px
        padding-right: 100px
        font-weight: 600
        font-size: 32px
        line-height: 130%
        color: var(--black)
      p
        margin-top: 20px
        padding-right: 126px
        font-weight: 400
        font-size: 18px
        line-height: 140%
        color: var(--gray-dark-text)
    &__form
      margin-top: 40px
      .form
        &__row
          display: flex
          align-items: center
          gap: 14px
        &__field-wrapper
          flex: 1
          input
            padding: 16px 20px
            border-radius: 10px
            border: none
            width: 100%
            height: 54px
            &::placeholder
              font-family: "Roboto", sans-serif
              font-weight: 400
              font-size: 16px
              line-height: 140%
              color: var(--gray-dark-text)
            &:focus
              outline: none
          .btn_submit
            width: 100%
            height: 54px
        &__privacy
          margin-top: 14px
          font-family: "Roboto", sans-serif
          font-weight: 400
          font-size: 15px
          line-height: 140%
          color: var(--gray-3)
          &__link
            text-decoration: underline
            text-decoration-skip-ink: none
            color: var(--red-brand)

    & > div
      flex: 1

.why
  margin-top: 100px
  &__list
    margin-top: 60px
    display: flex
    gap: 28px
  &__item
    padding: 80px 24px 24px 24px
    position: relative
    flex: 1
    border: 1px solid var(--gray-5)
    border-radius: 20px
    font-weight: 600
    font-size: 16px
    line-height: 140%
    color: var(--black)
    &_1
      background: url("../icons/podium-victory-leader.svg") top 24px left 24px no-repeat
    &_2
      background: url("../icons/employees.svg") top 24px left 24px no-repeat
    &_3
      background: url("../icons/dashboard-monitor.svg") top 24px left 24px no-repeat
    &_4
      background: url("../icons/visit1.svg") top 24px left 24px no-repeat
    &_5
      background: url("../icons/features-alt1.svg") top 24px left 24px no-repeat

  .section-description
    margin-top: 14px

