.career_page__list {
  margin-top: 54px;
  display: flex;
  flex-flow: wrap;
}
.career_page__item {
  margin-bottom: 30px;
  padding: 40px 40px 32px;
  background-repeat: no-repeat;
  background-position: bottom right 6%;
  border-radius: 20px;
}
.career_page__item_1 {
  background-color: var(--gray-light);
  background-position: bottom left 40%;
}
.career_page__item_1 div:first-child {
  display: flex;
}
.career_page__item_1 h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: var(--black);
}
.career_page__item_1 ul {
  list-style: unset;
  padding-left: 28px;
}
.career_page__item_1 ul li {
  margin-bottom: 20px;
}
.career_page__item_1 ul li::marker {
  color: var(--red-brand);
}
.career_page__item_2, .career_page__item_3 {
  margin-right: 30px;
}
.career_page__item_2, .career_page__item_3, .career_page__item_4 {
  width: calc((100% - 60px) / 3);
  border: 1px solid var(--gray-5);
  min-height: 286px;
}
.career_page__item_5, .career_page__item_6 {
  width: calc((100% - 30px) / 2);
  border: 1px solid var(--gray-5);
  min-height: 286px;
}
.career_page__item_5 {
  margin-right: 30px;
  background-position: bottom right;
}
.career_page__item_6 {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: var(--red-brand);
  background-position: bottom right 3%;
}
.career_page__item_6 .btn_white {
  display: inline-block;
  border: 1px solid var(--red-brand);
}
.career_page__item p {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: var(--black);
}

.office {
  margin-top: 100px;
}
.office .container {
  display: flex;
}
.office__info {
  flex: 5;
}
.office__info p {
  margin-top: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--gray-dark-text);
}
.office__info .address__list {
  margin: 30px 0;
}
.office__map {
  flex: 4;
}
.office__sm-links__title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--gray-dark-text);
}
.office__sm-links__list {
  margin-top: 14px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.address__list a, .address__list div {
  margin-bottom: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: var(--gray-dark-text);
  display: flex;
  align-items: center;
  gap: 14px;
}

.callback_contacts {
  padding: 50px 30% 60px 40px;
  background-repeat: no-repeat;
  background-size: 336px;
  background-position: right 22px center;
}
.callback_contacts h2 {
  margin-bottom: 20px;
}
.callback_contacts p {
  margin-bottom: 40px;
}
.callback_contacts__section {
  margin-top: 100px;
}

@media only screen and (max-width: 1280px) {
  .career_page__item {
    padding: 24px 22px;
  }
  .career_page__item_1 h3 {
    font-size: 28px;
  }
  .career_page__item_2, .career_page__item_3, .career_page__item_4 {
    background-size: 45%;
  }
  .career_page__item_6 .btn_white {
    padding: 16px;
  }
}
@media only screen and (max-width: 864px) {
  .career_page__item_1 {
    background-position: bottom right;
  }
  .career_page__item_1 div:first-child {
    flex-flow: column;
    gap: 24px;
  }
  .career_page__item_5 {
    background-size: 70%;
  }
  .career_page__item p {
    font-weight: 500;
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .career_page__item_2, .career_page__item_3, .career_page__item_4 {
    width: calc((100% - 30px) / 2);
  }
  .career_page__item_3, .career_page__item_5 {
    margin-right: 0;
  }
  .career_page__item_4 {
    margin-right: 30px;
  }
  .career_page__item_6 {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .career_page__item_2, .career_page__item_3, .career_page__item_4, .career_page__item_5 {
    margin-right: 0;
    width: 100%;
    min-height: 220px;
  }
}
@media only screen and (max-width: 375px) {
  .career_page__item {
    padding: 16px;
  }
  .career_page__item_1 h3 {
    font-size: 22px;
  }
}

/*# sourceMappingURL=small_pages.css.map */
