.career_page
  &__list
    margin-top: 54px
    display: flex
    flex-flow: wrap
  &__item
    margin-bottom: 30px
    padding: 40px 40px 32px
    background-repeat: no-repeat
    background-position: bottom right 6%
    border-radius: 20px
    &_1
      background-color: var(--gray-light)
      background-position: bottom left 40%
      div:first-child
        display: flex
      h3
        font-weight: 600
        font-size: 32px
        line-height: 130%
        color: var(--black)
      ul
        list-style: unset
        padding-left: 28px
        li
          margin-bottom: 20px
          &::marker
            color: var(--red-brand)
    &_2, &_3
      margin-right: 30px
    &_2, &_3, &_4
      width: calc((100% - 60px) / 3)
      border: 1px solid var(--gray-5)
      min-height: 286px
    &_5, &_6
      width: calc((100% - 30px) / 2)
      border: 1px solid var(--gray-5)
      min-height: 286px
    &_5
      margin-right: 30px
      background-position: bottom right
    &_6
      display: flex
      flex-flow: column
      justify-content: space-between
      background-color: var(--red-brand)
      background-position: bottom right 3%
      .btn_white
        display: inline-block
        border: 1px solid var(--red-brand)
    p
      font-weight: 600
      font-size: 18px
      line-height: 140%
      color: var(--black)

.office
  margin-top: 100px
  .container
    display: flex
  &__info
    flex: 5
    p
      margin-top: 14px
      font-family: "Roboto", sans-serif
      font-weight: 400
      font-size: 18px
      line-height: 140%
      color: var(--gray-dark-text)
    .address__list
      margin: 30px 0
  &__map
    flex: 4
  &__sm-links
    &__title
      font-family: "Roboto", sans-serif
      font-weight: 400
      font-size: 18px
      line-height: 140%
      color: var(--gray-dark-text)
    &__list
      margin-top: 14px
      display: flex
      align-items: center
      gap: 14px

.address__list
  a, div
    margin-bottom: 14px
    font-family: "Montserrat", sans-serif
    font-weight: 600
    font-size: 18px
    line-height: 140%
    color: var(--gray-dark-text)
    display: flex
    align-items: center
    gap: 14px

.callback_contacts
  padding: 50px 30% 60px 40px
  background-repeat: no-repeat
  background-size: 336px
  background-position: right 22px center
  h2
    margin-bottom: 20px
  p
    margin-bottom: 40px

  &__section
    margin-top: 100px

@media only screen and (max-width: 1280px)
  .career_page
    &__item
      padding: 24px 22px
      &_1 h3
        font-size: 28px
      &_2, &_3, &_4
        background-size: 45%
      &_6 .btn_white
        padding: 16px

@media only screen and (max-width: 864px)
  .career_page__item
    &_1
      background-position: bottom right
      div:first-child
        flex-flow: column
        gap: 24px
    &_5
      background-size: 70%
    p
      font-weight: 500
      font-size: 16px

@media only screen and (max-width: 768px)
  .career_page__item
    &_2, &_3, &_4
      width: calc((100% - 30px) / 2)
    &_3, &_5
      margin-right: 0
    &_4
      margin-right: 30px
    &_6
      width: 100%

@media only screen and (max-width: 480px)
  .career_page__item
    &_2, &_3, &_4, &_5
      margin-right: 0
      width: 100%
      min-height: 220px

@media only screen and (max-width: 375px)
  .career_page__item
    padding: 16px
    &_1 h3
      font-size: 22px
